@import "./Mixins";

.formTask{
  &__submit{
    @include button;
    border-radius: 8px;
  }
  &__cancel{
    @include button;
    border-radius: 6px;
    background-color: #999A9A;
    border-color: #999A9A;
  }
}

@media screen and (max-width: 768px) {}